.chat {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
}
.chat .chatSelector {
  flex: 0 1 auto;
  text-align: center;
}
.chat .chatSelector button {
  min-width: 23%;
}
.chat .chatContainers {
  flex: 1 1 auto;
}